@use "./var";

.svg-wrapper {
  z-index: -1;
}

.subsection {
  margin: 0 auto;
  max-width: min(1300px, 90%);
  margin-bottom: 9rem;
  position: relative;

  @media only screen and (max-width: var.$mobile) {
    padding: 0 40px;
    gap: calc(var(--space_mobile) * 1px);
    margin-bottom: 60px;
  }

  a {
    font: inherit;
    color: var.$primary-color;
    font-family: var.$subheading-font;
  }

  p,
  ul > li {
    font-family: var.$p-font;
    font-size: clamp(0.875rem, 2.5vw, 1.5rem);
    line-height: 140%;
    color: var.$text-color;
    background-color: var.$background-color;
    text-align: justify;
  }

  h2 {
    font-family: var.$heading-font;
    letter-spacing: 0.07em;
    color: var.$primary-color;
    font-size: clamp(2.5rem, 8vw, 8rem);
    text-shadow: -4px -4px 0 var.$background-color, 0 -4px 0 var.$background-color,
      4px -4px 0 var.$background-color, 4px 0 0 var.$background-color,
      4px 4px 0 var.$background-color, 0 4px 0 var.$background-color,
      -4px 4px 0 var.$background-color, -4px 0 0 var.$background-color;
    font-weight: 300;
  }

  h3 {
    font-family: var.$subheading-font;
    color: var.$primary-color;
    text-transform: uppercase;
    line-height: 100%;
    font-size: clamp(1rem, 2vw, 2.25rem);
  }
}

.subsection--columns {
  margin-top: 44px;
  @media only screen and (max-width: var.$mobile) {
    margin-top: 30px;
  }
}

.animate1 {
  animation: float1 3.7s ease-in-out infinite;
  animation-delay: 0.1s;
}

.animate2 {
  animation: float2 3.7s ease-in-out infinite;
  animation-delay: 0s;
}

.animate3 {
  animation: float1 3.7s ease-in-out infinite;
  animation-delay: 0.5s;
}

@keyframes float1 {
  50% {
    transform: translateY(-8px) rotate(-4deg);
  }
}
@keyframes float2 {
  50% {
    transform: translateY(-6px) rotate(3deg);
  }
}

@keyframes float3 {
  50% {
    transform: translateY(-8px) rotate(-2deg);
  }
}
