@use "./var";

.svg-wrapper {
  z-index: -1;
}

.subsection {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 40px;
  margin-bottom: 80px;
  position: relative;

  @media only screen and (max-width: var.$mobile) {
    gap: calc(var(--space_mobile) * 1px);
    margin-bottom: 60px;
  }

  p,
  ul > li {
    font-family: var.$p-font;
    font-size: clamp(0.875rem, 2.5vw, 1.5rem);
    line-height: 140%;
    color: var.$text-color;
    background-color: var.$background;
  }

  h2 {
    font-family: var.$heading-font;
    color: var.$primary-color;
    font-size: clamp(2.5rem, 8vw, 8rem);
  }

  h3 {
    font-family: var.$subheading-font;
    color: var.$primary-color;
    font-size: clamp(1rem, 3vw, 2.25rem);
    text-transform: uppercase;
  }
}

.subsection--columns {
  margin-top: 44px;
  @media only screen and (max-width: var.$mobile) {
    margin-top: 30px;
  }
}

.animate1 {
  animation: float1 3.7s ease-in-out infinite;
  animation-delay: 0.1s;
}

.animate2 {
  animation: float2 3.7s ease-in-out infinite;
  animation-delay: 0s;
}

.animate3 {
  animation: float1 3.7s ease-in-out infinite;
  animation-delay: 0.5s;
}

@keyframes float1 {
  50% {
    transform: translateY(-8px) rotate(-4deg);
  }
}
@keyframes float2 {
  50% {
    transform: translateY(-6px) rotate(3deg);
  }
}

@keyframes float3 {
  50% {
    transform: translateY(-8px) rotate(-2deg);
  }
}
