@use "../../styles/var";
@use "../../styles/subsections.scss";

.why-apply {
  h3 {
    text-align: left;
  }
  margin-top: clamp(92px, 10vw, 256px);

  @media screen and (max-width: 600px) {
    margin-top: 92px;
  }

  .cloud-svg {
    position: relative;
    bottom: calc(-15vw + 5rem);
    right: calc(-1 * (10vw + 1rem));
  }
}

p.why-apply--subtitle {
  font-family: var.$subheading-font;
  color: var.$primary-color;
  font-size: clamp(1rem, 1.75vw, 2.25rem);
  // font-size: 1.75rem;
  & + p:not(:last-child) {
    margin-bottom: 40px;
  }
}

.why-apply--quotes {
  margin-top: 120px;
  @media screen and (max-width: 600px) {
    margin-top: 60px;
  }
}
