@use "../../styles/var";
@use "../../styles/subsections.scss";

.why-apply {
  h3 {
    text-align: center;
  }
  margin-top: clamp(92px, 10vw, 256px);

  @media screen and (max-width: 600px) {
    margin-top: 92px;
  }

  .cloud-svg {
    position: relative;
    bottom: calc(-15vw + 5rem);
    right: calc(-1 * (10vw + 1rem));
  }
}

p.why-apply--subtitle {
  font-family: var.$subheading-font;
  color: var.$primary-color;
  font-size: clamp(1rem, 3vw, 2.25rem);
  line-height: 100%;
  & + p {
    margin-top: 0.75em;
  }
  & + p:not(:last-child) {
    margin-bottom: 40px;
  }
}

.why-apply--quotes {
  margin-top: 120px;
  h3 {
    font-style: normal;
  }

  font-style: italic;

  @media screen and (max-width: 600px) {
    margin-top: 60px;
  }
}

.why-apply--quotes-author {
  font-style: normal;
  font-family: var.$subheading-font !important;
  opacity: 0.65;
  margin-top: 0.5em;
}
