@use '../../styles/var';
@use '../../styles/subsections.scss';

.why-apply {
  h3 {
    text-align: center;
  }
  margin-top: clamp(92px, 10vw, 256px);

  @media screen and (max-width: 600px) {
    margin-top: 92px;

    .row-container {
      gap: 25px !important;

    }
    .first-row, .second-row{
      flex-direction: column;
      gap: 25px !important;

    }
  }


  .cloud-svg {
    position: relative;
    bottom: calc(-15vw + 5rem);
    right: calc(-1 * (10vw + 1rem));
  }

  .cd-svg {
    position: absolute;
    left: -8%;
    top: 42%;
    width: clamp(80px, 20vw, 360px);
  }

  .star1-svg {
    position: absolute;
    left: 30%;
    top: 50%;
    width: clamp(16px, 6vw, 64px);
  }

  .star2-svg {
    position: absolute;
    left: 35%;
    top: 60%;
    width: clamp(15px, 5vw, 48px);
  }

  @media screen and (max-width: 500px) {

    .svg-wrapper {
      top: -10vw !important;
    }
      .cd-svg {
        left: 13%;
      }

      .star1-svg {
        left: 45%;
      }

      .star2-svg {
        left: 50%;
        top: 65%;
      }
  }
}

p.why-apply--subtitle {
  font-family: var.$subheading-font;
  color: var.$primary-color;
  font-size: clamp(1.5rem, 1.5vw, 2.25rem);
  line-height: 100%;
  text-align: left;
  & + p {
    margin-top: 0.75em;
  }
  & + p:not(:last-child) {
    margin-bottom: 40px;
  }

  @media screen and (max-width: 600px) {
    font-size: clamp(1rem, 1.5vw, 2.25rem);
  }
}

.why-apply--quotes {
  margin-top: 120px;
  h3 {
    font-style: normal;
  }

  font-style: italic;

  @media screen and (max-width: 600px) {
    margin-top: 60px;
  }
}

.why-apply--quotes-author {
  font-style: normal;
  font-family: var.$subheading-font !important;
  opacity: 0.55;
  margin-top: 0.5em;
}
