@use '../../styles/var';

.navbar-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: var.$background-color;
  padding: 60px 100px;
  z-index: 99;

  @media screen and (max-width: 705px) {
    padding: 30px;
  }

  .logo {
    display: block;
    font-family: var.$heading-font;
    font-size: min(3.5vw, 3rem);
    color: var.$primary-color;
    text-decoration: none;
    transition: all 0.3s;
    letter-spacing: 3px;

    @media screen and (max-width: 900px) {
      font-size: min(3.5vw, 3rem);
    }

    @media screen and (max-width: 600px) {
      font-size: 2rem;
    }

    &:hover {
      opacity: 0.4;
      transform: scale(0.9);
    }
  }

  .right {
    ul {
      list-style-type: none;
      display: flex;
      padding-left: 0;
      background-color: var.$background-color;
      align-items: center;
      z-index: 1;


      @media screen and (max-width: 870px) {
        margin-inline: auto;
        flex-direction: column;
        position: absolute;
        align-items: flex-start;
        padding-left: 15vw;
        inset: 0;
        margin-top: calc(10vw + 2rem);
        padding-top: 5rem;

        li {
          margin-bottom: 4rem;
          button {
            font-size: clamp(1.5rem, 4vw, 2rem);
          }
        }
      }
    }

    .mobile-button {
      display: none;

      @media screen and (max-width: 870px) {
        display: block;

        .close-icon {
          display: none;
        }

        + ul {
          display: none !important;
        }

        &[aria-expanded='true'] {
          + ul {
            display: flex !important;
          }
          .hamburger-icon {
            display: none;
          }

          .close-icon {
            display: block;
          }
        }
      }
    }

    button {
      padding: 2rem;
      font-family: var.$subheading-font;
      font-size: min(1.5vw, 1.25rem);
      font-weight: 100 !important;
      color: var.$primary-color;
      text-transform: uppercase;


      @media screen and (max-width: 870px) {
        padding: 0;
        margin-left: 0;
        font-size: min(1.5vw, 1.25rem);
      }

      &:not(.apply) {
        &:hover {
          opacity: 0.4;
          transform: scale(0.9);
        }
      }
    }

    .apply-container {
      display: inline-block;
      position: relative;
      margin-left: 1rem;

      &:hover {
        .star {
          transform: rotate(-60deg);
        }
      }
    }

    .apply {
      color: var.$background-color;
      background-color: var.$primary-color;
      padding: 0.5rem 1.5rem;
      border-radius: 50px;
      border: 2px solid var.$background-color;

      &:hover {
        border: 2px solid var.$primary-color;
        color: var.$primary-color;
        background-color: var.$background-color;
      }
    }
    .star {
      width: 32px;
      height: 32px;
      position: absolute;
      top: -15px;
      right: -5px;
      transition: transform 0.3s;
    }
  }

  button {
    all: unset;
    transition: all 0.3s;
  }

}
