@use '../../styles/var';

.footer-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 0 3rem 8rem 3rem;

  background-color: var.$background;
  > .left {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 300px;

    p {
      font-size: 1.5rem;
    }

    .heart {
      width: 24px ;
    }
    .design-co {
      width: 160px;
    }
  }

  > .right {

    > a {
      font-family: var.$link-font;
      font-size: 1.25rem;
      text-transform: uppercase;
      text-decoration: underline;
      color: #231F20;
    }

  }
}